@font-face {
    font-family: SFProDisplay;
    src: url("./fonts/SF-Pro-Display-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: StyreneAWeb;
    src: url("./fonts/StyreneAWeb-Bold.woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: StyreneAWeb;
    src: url("./fonts/StyreneAWeb-Regular.woff2");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay, sans-serif;
}

.section{
    width: 100%;
    padding: 40px 120px;
}

.card{
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5.7px 1.8px 0 rgba(49, 48, 120, 0.02),
    0 10.7px 4.9px 0 rgba(49, 48, 120, 0.03),
    0 16.3px 11.8px 0 rgba(49, 48, 120, 0.04),
    0 38px 39px 0 rgba(49, 48, 120, 0.07);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    transition: all .3s ease;
    position: fixed;
    top: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-family: StyreneAWeb sans-serif;
    align-items: center;
    z-index: 10;
}

.sticked{
    background: white;
}
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-wrapper{
    margin-right: 25px;
}

.top-menu a{
    text-decoration: none;
}

.top-menu > div > p > a{
    color: #201f3b;
    text-decoration: none;
}

.top-menu-item{
    line-height: 18px;
    font-size: 16px;
    transition: all .3s;
    border-bottom: 2px solid transparent;
    font-family: StyreneAWeb;
    margin-right: 25px;
    color: #696C76;
    white-space: nowrap;
    padding-bottom: 7px;
}

.top-menu-item:hover{
    border-bottom: 2px solid #538df7;
}

.email-phone-links{
    align-items: flex-end;
}

.email-phone-links > a{
    text-decoration: none;
    font-size: 14px;
    color: #696C76;
    font-family: StyreneAWeb;
}
.email-phone-links > a:hover{
    color: #538DF7;
}

.email-button{
    transition: all .3s ease;
    cursor: pointer;
    width: 172px;
    padding: 8px 16px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 18px;
    background: #538DF7;
    box-shadow: 0px 4px 16px rgba(43, 178, 255, 0.35);
    border-radius: 15px;
}

.email-button:hover{
    background: #53A8F7;
}

.email-button > img{
    margin-right: 7px;
}

.first-section-wrapper{
    background-image: url("assets/First Screen.png");
    -o-background-image: url("assets/First Screen.png");
    -webkit-background-image: url("assets/First Screen.png");
    -moz-background-image: url("assets/First Screen.png");
    background-size: auto 98%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:  rgb(230 240 251);
    height: 800px;
    padding-top: 120px;
}

.stop-scroll{
    overflow: hidden;
}

.title {
    width: 100%;
    height: 700px;
}
    .title-image{
        height: 100%;
        object-fit: contain;
    }

    .title-wrapper{
        padding: 50px 0;
    }
        .main-title{
            width: 790px;
            height: 244px;
            font-family: StyreneAWeb, sans-serif;
            font-size: 48px;
            font-weight: bold;
            color: #201f3b;
        }

        .main-subtitle{
            margin-top: 15px;
            width: 790px;
            height: 34px;
            font-size: 24px;
            line-height: 1.42;
            color: #696c76;
        }

.advantages{
    padding: 80px 0;
    width: 100%;
}

    .advantages-subtitle{
        font-family: StyreneAWeb, sans-serif;
        font-size: 48px;
        font-weight: bold;
        margin: 15px 0 25px 0;
    }

    .advantages-container > .elements{
        margin-top: 25px;
        display: flex;
    }
        .advantages-item{
            width: 350px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 15px;
        }

            .advantages-item-point{
                display: flex;
                line-height: 1.4;
                color: #696c76;
                margin-bottom: 16px;
                margin-top: 8px;
            }
            .advantages-item-point > img{
                margin-right: 15px;
            }
            .advantages-item-point > p{
                text-align: justify;
            }

.solution{
    padding: 100px 0;
    background-color:  rgb(230 240 251);
}
    .solution-container{
    }
        .solution-title{
            font-family: StyreneAWeb, sans-serif;
            margin-bottom: 60px;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.42;
            color: #201f3b;
        }
        .solution-points{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }
            .solution-pic{
                margin: 0 15px 25px 15px;
            }
                .solution-pic > p{
                    width: 340px;
                    text-align: center;
                    margin-top: 15px;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: #696c76;
                }

            .solution-advantage{
                font-family: StyreneAWeb, sans-serif;
                margin-top: 45px;
                width: 652px;
                padding: 48px 30px;
                font-size: 18px;
                text-align: center;
                font-weight: bold;
                color: #201f3b;
            }
.how-to{
    padding: 100px 0 300px 0;
}
    .how-to-container{
        margin: 80px 0;
    }
        .how-to-title{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: #201f3b;
            margin-bottom: 60px;
        }
        .how-to-subtitle{
            font-size: 24px;
            margin-bottom: 48px;
            color: #696c76;
            font-weight: 500;
        }
        .how-to-items{
            display: flex;
            justify-content: space-between;
        }
            .how-to-item{
                padding: 30px;
                margin: 20px;
            }
            .how-to-item > p{
                font-family: StyreneAWeb, sans-serif;
                margin-top: 25px;
                font-size: 16px;
                font-weight: 600;
                color: #201f3b;
            }
                .how-to-list{
                    width: 290px;
                    margin-left: 15px;
                    margin-top: 20px;
                }
                    .how-to-list > li{
                        margin-top: 15px;
                        color: #37a4ff;
                    }
                    .how-to-list > li > span{
                        color: #696c76;
                        font-size: 16px;
                    }
.start-section{
    height: 320px;
    background: #538df7;
    display: flex;
    justify-content: center;
}
.start{
    margin-top: -230px;
    width: 948px;
    height: 395px;
    display: flex;
    padding: 45px;
    justify-content: space-between;
}
    .start-title{
        font-family: StyreneAWeb, sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #201f3b;
        margin-top: 15px;
    }
    .start-price{
        font-family: StyreneAWeb, sans-serif;
        margin-top: 50px;
        color: #538df7;
        font-size: 56px;
        font-weight: bold;
    }
    .start-price-label{
        color: #696c76;
        font-size: 24px;
    }
    .start-button{
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
        width: 234px;
        height: 63px;
        border-radius: 20px;
        background-color: #538df7;
        margin-top: 33px;
    }

.requirements {
    height: 700px;
    background: #538df7;
}
    .requirements-container{
        margin-top: 70px;
        color: white;
    }
        .requirements-container > h2{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .requirements-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        }
            .requirements-description{
                margin-left: 60px;
                align-items: flex-start;
            }
                .requirements-description > h3{
                    font-family: StyreneAWeb, sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .requirements-description > p{
                    margin-top: 20px;
                }
                .requirements-list{
                    margin-left: 20px;
                }
                .requirements-list > li{
                    margin-top: 15px;
                    color: #37a4ff;
                }
                .requirements-list > li > span{
                    color: white;
                    font-size: 15px;
                    margin-right: 4px;
                }
.form-section{
    padding: 40px 0;
    background: #538df7;
}
    .form-card{
        width: 588px;
    }
        .form{
            color: #201f3b;
            padding: 36px;
        }
        .form-title{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .form-subtitle{
            color: #696c76;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 40px;
        }

        .form-input{
            margin-bottom: 28px;
        }

        .form-input > p{
            font-family: StyreneAWeb, sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        .form-input > input{
            margin-bottom: 28px;
            border: none;
            border-radius: 8px;
            padding: 8px;
            width: 492px;
            height: 44px;
            background-color: #f5f5f6;
            font-size: 16px;
            line-height: 1.7;
            color: #696c76;
        }
        .form-input > input:focus{
            border: none;
        }

        .form-input > input::placeholder{
            line-height: 1.7;
            letter-spacing: 0.4px;
            color: rgba(105, 108, 118, 0.52);
        }

        .form-button{
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            width: 492px;
            height: 63px;
            border-radius: 20px;
            background-color: #538df7;
            margin-top: 33px;
            cursor: pointer;
            transition: all .4s ease-in-out;
        }

        .form-button:hover {
            opacity: .9;
        }

        .form-button:focus{
            border: none;
        }
.footer{
    background: #538df7;
    height: 190px;
}

    .footer > p{
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .footer > p > a{
        text-decoration: none;
        color: white;
    }

.mobile-menu{
    z-index: 9;
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
    width: 100%;
    height: 56px;
    backdrop-filter: blur(16px);
    background-color: rgba(75, 75, 75, 0.76);
}

.burger {
    width: 25px;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

.burger > .line{
    height: 3px;
    background: white;
    width: 100%;
    margin: 3px 0;
}

.mobile-menu-content{
    position: fixed;
    background: #538df7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transform: translateX(100%);
    opacity: .3;
    transition: all .2s ease-in-out;
}

.opened{
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu-wrapper{
    height: 99%;
    justify-content: space-between;
}

.mobile-menu-content > .mobile-menu{
    background-color: rgba(255, 255, 255, 0.1);
}

.mobile-menu-items{
    align-items: flex-start;
}

.mobile-menu-items > a{
    text-decoration: none;
}

.mobile-menu-item{
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
}

.red-text{
    color: #ff5153;
}

.green-text{
    color: rgba(7, 159, 28, 0.65);
}

@media( max-width: 1024px ){
    .close {
        height: 35px;
        width: auto;
    }

    .mobile-menu{
        display: flex;
        z-index: 30;
    }
    .header{
        display: none;
    }
    .section{
        padding: 30px 14px;
        overflow: hidden;
    }

    .first-section-wrapper{
        background-size: auto 70%;
        padding-top: 0px;
    }
    .title-wrapper{
        position: absolute;
        z-index: 3;
    }
    .title:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    .header{
        position: relative;
        z-index: 3;
    }
    .top-menu{
        display: none;
    }

    .top-menu-item:hover{
        border-bottom: 2px solid #538df7;
    }

    .title {
        position: relative;
        width: 100%;
        height: 400px;
        z-index: 3;
    }

    .title-wrapper{
        padding: 50px 0;
    }
    .main-title{
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .main-subtitle{
        width: 100%;
        color: white;
        font-size: 15px;
    }

    .advantages-subtitle{
        font-size: 26px;
        font-weight: bold;
    }

    .advantages-container > .elements{
        flex-direction: column;
        margin-top: 0;
    }

    .advantages-item{
        width: 100%;
        margin-top: 15px;
    }

    .advantages-item-point{
        font-size: 14px;
    }

    .solution{

    }

    .solution-title{
        font-size: 26px;
    }
    .solution-points {
        flex-direction: column;
    }

    .solution-advantage{
        width: 100%;
        font-size: 16px;
    }
    .how-to{
        padding-bottom: 280px;
    }
    .how-to-title{
        font-size: 26px;
    }
    .how-to-subtitle{
        font-size: 14px;
    }
    .how-to-items{
        flex-direction: column;
    }
    .how-to-item{
        width: 90%;
    }
    .how-to-item > p{
        font-size: 14px;
    }
    .how-to-list{
        width: 100%;
    }
    .start-section{
        height: 420px;
    }
    .start{
        position: absolute;
        height: 600px;
        width: calc(100% - 20px);
        left: 10px;
        flex-direction: column-reverse;
    }
    .start-title{
        font-size: 26px;
    }
    .start-price{
        font-size: 46px;
    }
    .start-price-label{
        font-size: 14px;
    }
    .start-button{
        width: 100%;
    }

    .requirements-container > h2{
        font-size: 26px;
    }
    .requirements-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .requirements-item > img{
        width: 80%;
    }
    .requirements-description{
        margin-top: 60px;
    }
    .requirements-description > h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .requirements-description > p{
        margin-top: 20px;
    }
    .requirements-list{
        margin-left: 20px;
    }
    .requirements-list > li{
        margin-top: 15px;
        color: #37a4ff;
    }
    .requirements-list > li > span{
        color: white;
        font-size: 15px;
        margin-right: 4px;
    }
    .form-section{
        background: #538df7;
    }
    .form-card{
        width: 100%;
    }
    .form{
        width: 100%;
        padding: 10px;
    }
    .form-title{
        font-size: 26px;
    }

    .form-subtitle{
        font-size: 14px;
    }

    .form-input{
        width: 100%;
        margin-bottom: 28px;
    }

    .form-input > p{
        font-size: 14px;
    }

    .form-input > input{
        width: 100%;
    }

    .form-button{
        width: 100%;
    }

    .footer{
        background: #538df7;
        height: 160px;
    }

}

