@font-face {
    font-family: SFProDisplay;
    src: url("./fonts/SF-Pro-Display-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: StyreneAWeb;
    src: url("./fonts/StyreneAWeb-Bold.woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: StyreneAWeb;
    src: url("./fonts/StyreneAWeb-Regular.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-Regular.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter-Bold.woff2");
    font-style: normal;
    font-weight: bold;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.section{
    width: 100%;
    padding: 40px 7%;
    font-family: SFProDisplay, sans-serif;
}

.card{
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5.7px 1.8px 0 rgba(49, 48, 120, 0.02),
    0 10.7px 4.9px 0 rgba(49, 48, 120, 0.03),
    0 16.3px 11.8px 0 rgba(49, 48, 120, 0.04),
    0 38px 39px 0 rgba(49, 48, 120, 0.07);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stop-scroll{
    overflow: hidden;
}

/* Top section & header */

.header {
    transition: all .1s ease;
    position: fixed;
    top: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-family: StyreneAWeb sans-serif;
    align-items: center;
    z-index: 10;
}

.sticked{
    background: white;
}

.hash{
    margin-bottom: 85px;
}

@media (max-width: 1024px) {
    .hash{
        margin-bottom: 56px;
    }
}

.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper{
    margin-right: 25px;
}

.top-menu a{
    text-decoration: none;
}

.top-menu > div > p > a{
    color: #201f3b;
    text-decoration: none;
}

.top-menu-item{
    line-height: 18px;
    font-size: 14px;
    transition: all .3s;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    font-family: StyreneAWeb;
    margin-right: 25px;
    color: #696C76;
    white-space: nowrap;
}

.top-menu-item:hover{
    border-bottom: 2px solid #538df7;
}

.email-phone-links{
    align-items: flex-end;
    flex-direction: row;
    align-items: center;
}

.email-phone-links > a{
    margin-left: 16px;
    text-decoration: none;
    font-size: 14px;
    color: #696C76;
    font-family: StyreneAWeb;
}
.email-phone-links > a:hover{
    color: #538DF7;
}

.top-button{
    font-family: StyreneAWeb;
    transition: all .3s ease;
    cursor: pointer;
    width: 170px;
    height: 40px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.phone-button{
    color: #2146D9;
    background: #FFFFFF;
}

.phone-button:hover{
    box-shadow: 0px 4px 16px rgba(83, 141, 247, 0.38);
}

.phone-img{
    margin-right: 7px;
}

.phone-img-white{
    display: none;
    margin-right: 7px;
}

@media (max-width: 1440px ) {
    .phone-number{
        display: none;
    }

    .phone-button{
        width: auto;
    }

    .phone-img{
        margin-right: 0;
    }
}

@media (max-width: 1270px ) {

    .section{
        padding: 40px 4%;
    }

    .phone-button{
        background: #2146D9;
        color: white;
        width: 170px;
    }

    .email-button{
        display: none;
    }

    .phone-number{
        display: block;
    }
    .phone-img{
        display: none;
    }

    .phone-img-white{
        display: block;
    }
}

@media (max-width: 1200px) {

    .phone-button{
        width: auto;
    }

    .phone-number{
        display: none;
    }

    .phone-img-white{
        margin: 0;
    }
}

.email-button{
    background: #2146D9;
    color: white;
}

.email-button:hover{
    background: #538DF7;
    box-shadow: 0px 4px 16px rgba(83, 141, 247, 0.38);
}


.first-section-wrapper{
    background-image: url("assets/First Screen.png");
    -o-background-image: url("assets/First Screen.png");
    -webkit-background-image: url("assets/First Screen.png");
    -moz-background-image: url("assets/First Screen.png");
    background-size: auto 98%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color:  rgb(230 240 251);
    height: 800px;
    padding-top: 120px;
}

.stop-scroll{
    overflow: hidden;
}

.title {
    width: 100%;
}
    .title-image{
        height: 100%;
        object-fit: contain;
    }

    .title-wrapper{
        padding: 50px 0;
    }
        .main-title{
            width: 790px;
            font-family: StyreneAWeb, sans-serif;
            font-size: 48px;
            font-weight: bold;
            color: #201f3b;
        }

        .main-subtitle{
            font-family: Inter;
            font-weight: normal;
            margin-top: 25px;
            width: 570px;
            height: 84px;
            font-size: 20px;
            line-height: 1.42;
            color: #696c76;
        }

        .main-undertext{
            font-family: Inter;
            font-weight: normal;
            margin-top: 48px;
            display: flex;
        }

        .main-undertext > p{
            width: 270px;
            height: 60px;
            font-size: 14px;
            color: #696C76;
            margin-right: 16px;
        }

        .main-undertext > a{
            text-decoration: none;
        }

        .title-email-button{
            height: 60px;
            background: #2146D9;
            color: white;
            font-size: 14px;
        }

.first-up-right{
    position: relative;
    left: 60%;
    bottom: 0;
    width: 40%;
    height: auto;
}

/* Advantages */

.advantages{
    padding: 80px 0;
    width: 100%;
}

    .advantages-subtitle{
        font-family: StyreneAWeb, sans-serif;
        font-size: 48px;
        font-weight: bold;
        margin: 15px 0 25px 0;
    }

    .elements{
        flex-wrap: wrap;
        width: 1024px;
        justify-content: center;
        margin-top: 25px;
        display: flex;
        margin-bottom: 25px;
    }
        .advantages-item{
            margin-top: 35px;
            width: 310px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 15px;
            font-family: Inter;
            font-weight: normal;
            font-size: 16px;
        }

            .advantages-item-point{
                display: flex;
                line-height: 1.4;
                color: #696c76;
                margin-bottom: 16px;
                margin-top: 8px;
            }
            .advantages-item-point > img{
                margin-right: 15px;
                height: 24px;
            }
            .advantages-item-point > p{
                text-align: justify;
            }

/*     Solutions       */

.solution{
    padding: 50px 0;
    background:  radial-gradient(187.92% 112.28% at -30.45% -52.84%, #3E9BEF 0%, #446DCF 100%), #C4C4C4;;
}
    .solution-container{
    }
        .solution-title{
            font-family: StyreneAWeb, sans-serif;
            margin-bottom: 60px;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.42;
            color: white;
        }
        .solution-points{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }
            .solution-pic{
                margin: 0 15px 25px 15px;
            }
                .solution-pic > p{
                    width: 340px;
                    text-align: center;
                    margin-top: 15px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: white;
                    font-family: Inter;
                    font-weight: 400;
                }

            .solution-advantage{
                font-family: StyreneAWeb, sans-serif;
                margin-top: 45px;
                width: 652px;
                padding: 48px 30px;
                font-size: 18px;
                text-align: center;
                font-weight: bold;
                color: #201f3b;
                margin-bottom: 50px;
            }

/*     How to section       */

.how-to{
    padding: 100px 0 300px 0;
}
    .how-to-container{
        margin: 80px 0;
    }
        .how-to-title{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: #201f3b;
            margin-bottom: 30px;
        }
        .how-to-subtitle{
            font-family: Inter;
            font-size: 20px;
            margin-bottom: 48px;
            color: #696c76;
            font-weight: 500;
        }
        .how-to-items{
            display: flex;
            justify-content: space-between;
        }
            .how-to-item{
                padding: 30px;
                margin: 20px;
            }
            .how-to-item > p{
                font-family: Inter, sans-serif;
                margin-top: 25px;
                font-size: 16px;
                font-weight: 600;
                color: #201f3b;
            }
                .how-to-list{
                    width: 290px;
                    margin-left: 15px;
                    margin-top: 20px;
                }
                    .how-to-list > li{
                        margin-top: 15px;
                        color: #37a4ff;
                    }
                    .how-to-list > li > span{
                        color: #696c76;
                        font-size: 16px;
                    }

.bottom-wrapper{
    background: radial-gradient(187.6% 105.44% at 17.15% -5.44%, #538DF7 0%, #1F1E6C 100%), radial-gradient(152.92% 253.98% at 11.28% -23.53%, #5D93F7 0%, #0C4FCB 100%), #C4C4C4;
}

/* Prices, get started */

.start-section{
    height: 200px;
    display: flex;
    justify-content: center;
}
.start{
    margin-top: -230px;
    width: 948px;
    height: 395px;
    display: flex;
    padding: 45px;
    justify-content: space-between;
}
    .start-title{
        font-family: StyreneAWeb, sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #201f3b;
        margin-top: 15px;
    }
    .start-price{
        font-family: StyreneAWeb, sans-serif;
        margin-top: 50px;
        color: #2146D9;
        font-size: 56px;
        font-weight: bold;
    }
    .start-price-label{
        color: #696c76;
        font-size: 24px;
    }
    .start-button{
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
        width: 234px;
        height: 63px;
        border-radius: 8px;
        background-color: #2146D9;
        margin-top: 33px;
    }

/*  Requirements   */

.requirements {
    height: 700px;
}
    .requirements-container{
        margin-top: 70px;
        color: white;
    }
        .requirements-container > h2{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .requirements-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        }
            .requirements-description{
                margin-left: 60px;
                align-items: flex-start;
            }
                .requirements-description > h3{
                    font-family: StyreneAWeb, sans-serif;
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .requirements-description > p{
                    margin-top: 20px;
                }
                .requirements-list{
                    margin-left: 20px;
                }
                .requirements-list > li{
                    margin-top: 15px;
                    color: #37a4ff;
                }
                .requirements-list > li > span{
                    color: white;
                    font-size: 15px;
                    margin-right: 4px;
                }

/*      Form          */

.form-section{
    padding: 40px 0;
}
    .form-card{
        width: 588px;
    }
        .form{
            color: #201f3b;
            padding: 36px;
        }
        .form-title{
            font-family: StyreneAWeb, sans-serif;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .form-subtitle{
            width: 492px;
            height: 44px;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #696C76;
            margin-bottom: 60px;
        }

        .form-input{
            margin-bottom: 18px;
        }

        .form-input > p{
            font-family: StyreneAWeb, sans-serif;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        .form-input > input{
            margin-bottom: 28px;
            border: none;
            border-radius: 8px;
            padding: 8px;
            width: 492px;
            height: 44px;
            background-color: #f5f5f6;
            font-size: 16px;
            line-height: 1.7;
            color: #696c76;
        }
        .form-input > input:focus{
            border: none;
        }

        .form-input > input::placeholder{
            line-height: 1.7;
            letter-spacing: 0.4px;
            color: rgba(105, 108, 118, 0.52);
        }

        .form-button{
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            width: 492px;
            height: 63px;
            background: #2146D9;
            border-radius: 8px;
            margin-top: 33px;
            cursor: pointer;
            transition: all .4s ease-in-out;
        }

        .form-info{
            margin-top: 25px;
            width: 492px;
            max-width: 100%;
            height: 44px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #696C76;
        }

        .form-button:hover {
            opacity: .9;
        }

        .form-button:focus{
            border: none;
        }

/*   Footer     */

.footer{
    height: 120px;
}

    .top-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

        .top-footer > img{
            height: 24px;
        }

        .top-footer > p{
            color: white;
            font-size: 16px;
            font-weight: 500;
        }
        .top-footer > p > a{
            text-decoration: none;
            color: white;
        }
        .footer > p > a{
            text-decoration: none;
            color: white;
        }


/*   Mobile menu     */

.mobile-menu{
    z-index: 9;
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
    width: 100%;
    height: 56px;
    backdrop-filter: blur(16px);
    background-color: rgba(75, 75, 75, 0.76);
}

.open{
    height: 35px;
    width: auto;
}

.mobile-menu-content{
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    transform: translateX(100%);
    opacity: .3;
    transition: all .2s ease-in-out;
}

.opened{
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu-wrapper{
    padding-top: 45px;
    height: 100%;
    justify-content: space-between;
}

.mobile-menu-content > .mobile-menu{
    background-color: rgba(255, 255, 255, 0.1);
}

.mobile-menu-items{
    align-items: flex-start;
}

.mobile-menu-items > a{
    text-decoration: none;
}

.mobile-menu-item{
    font-family: Inter;
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #201F3B;
    margin-bottom: 7px;
}

.red-text{
    color: #ff5153;
}

.green-text{
    color: rgba(7, 159, 28, 0.65);
}

.mobile-footer{
    width: 100%;
    margin-bottom: 20px;
}

.mobile-footer > a{
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
}

    .mobile-email-button{
        font-size: 14px;
        line-height: 18px;
        color: white;
        width: 100%;
        height: 50px;
        background: #2146D9;
        box-shadow: 0px 4px 16px rgba(43, 178, 255, 0.35);
        border-radius: 4px;
        margin-bottom: 20px;
    }

    .mobile-phone-button{
        font-size: 14px;
        line-height: 18px;
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #F5F5F6;
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: center;
    }

    .mobile-phone-button > img {
        margin-right: 10px;
    }


/*  Modal  */

.modal-shadow{
    display: none;
    transition: all .4s linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1F1E6C;
    opacity: .3;
}

.modal{
    transition: all .5s ease-out;
    display: none;
    position: fixed;
    height: 320px;
    width: 420px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 50;
    background: white;
    border-radius: 20px;
    padding: 48px;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .modal{
        height: 300px;
        width: 90%;
    }

    #modal-result > p {
        font-size: 13px;
    }
}

#modal-result > h2 {
    text-align: center;
    font-family: StyreneAWeb, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

#modal-result > p {
    margin-top: 30px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #696C76;
}

.modal > button{
    width: 100%;
}


.isShown{
    display: flex;
}


/* Mobile styles */

@media( max-width: 1024px ){
    .close {
        height: 35px;
        width: auto;
    }

    .mobile-menu{
        display: flex;
        z-index: 30;
    }
    .header{
        display: none;
    }
    .section{
        padding: 30px 14px;
        overflow: hidden;
    }

    .first-section-wrapper{
        background-size: auto 100%;
        padding-top: 0px;
        height: 600px;
    }
    .title-wrapper{
        position: absolute;
        z-index: 3;
        width: 60%;
    }
    .title:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    }

    .header{
        position: relative;
        z-index: 3;
    }
    .top-menu{
        display: none;
    }

    .top-menu-item:hover{
        border-bottom: 2px solid #538df7;
    }

    .title {
        position: relative;
        width: 100%;
        height: 600px;
        z-index: 3;
    }

    .main-title{
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        color: white;
        height: auto;
        margin-top: 35px;
    }

    .main-subtitle{
        width: 100%;
        color: white;
        font-size: 18px;
    }

    .main-undertext{
        width: 260px;
        flex-direction: column;
        margin-top: 25px;
    }

    .title-email-button{
        margin-top: 15px;
        width: 100%;
    }

    .main-undertext > p{
        color: white;
    }

    .advantages-subtitle{
        font-size: 26px;
        font-weight: bold;
    }

    .elements{
        margin-top: 10px;
        width: 100vw;
        padding: 0 50px;
        justify-content: flex-start;
        flex-direction: column;
        height: 600px;
    }

    .advantages-item{
        width: 49%;
        margin-top: 15px;
    }

    .advantages-item-point{
        font-size: 14px;
    }

    .solution-title{
        font-size: 26px;
    }
    .solution-points {
        flex-direction: column;
    }

    .solution-advantage{
        width: 100%;
        font-size: 16px;
    }
    .how-to{
        padding-bottom: 280px;
    }
    .how-to-title{
        font-size: 26px;
    }
    .how-to-subtitle{
        font-size: 14px;
    }
    .how-to-items{
        flex-direction: column;
    }
    .how-to-item{
        width: 90%;
    }
    .how-to-item > p{
        font-size: 14px;
    }
    .how-to-list{
        width: 100%;
    }
    .start-section{
        height: 420px;
    }
    .start{
        position: absolute;
        height: 600px;
        width: calc(100% - 20px);
        left: 10px;
        flex-direction: column-reverse;
    }
    .start-title{
        font-size: 26px;
        text-align: center;
    }
    .start-price{
        margin-top: 16px;
        font-size: 32px;
        text-align: center;
    }
    .start-price-label{
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
    }
    .start-button{
        width: 100%;
    }
    .form-section{
        padding: 0;
    }

    .form-card{
        border-radius: 0;
        width: 100%;
    }
    .form{
        width: 100%;
        padding: 10px;
    }
    .form-title{
        font-size: 26px;
    }

    .form-subtitle{
        font-size: 14px;
        width: 100%;
    }

    .form-input{
        width: 100%;
        margin-bottom: 12px;
    }

    .form-input > p{
        font-size: 14px;
    }

    .form-input > input{
        width: 100%;
    }

    .form-button{
        margin-top: 10px;
        width: 100%;
    }

    .form-info{
        font-size: 12px;
    }

    .footer{
        background: white;
    }

    .top-footer{
        flex-direction: column;
    }

    .top-footer > p > a{
        margin-top: 10px;
        color: #1F1E6C;
    }
}

@media(max-width: 800px){
    .first-section-wrapper{
        background-size: auto 60%;
    }

    .title-wrapper{
        width: auto;
    }

    .main-undertext{
        margin-top: 35px;
        flex-direction: column;
        width: 100%;
    }

    .main-undertext > p{
        font-size: 14px;
        width: calc(100% - 14px);
    }

    .title-email-button{
        margin-top: 15px;
        width: calc(100% - 14px);
    }

    .elements{
        height: auto;
    }

    .advantages-item{
        width: 100%;
    }

    .requirements-container > h2{
        font-size: 26px;
    }
    .requirements-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 370px;
    }
    .requirements-item > img{
        width: 80%;
    }
    .requirements-description{
        margin-top: 60px;
        margin-left: 0;
        align-items: center;
    }
    .requirements-description > h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    .requirements-description > p{
        margin-top: 20px;
    }
    .requirements-list{
        margin-left: 20px;
    }
    .requirements-list > li{
        margin-top: 15px;
        color: #37a4ff;
    }
    .requirements-list > li > span{
        color: white;
        font-size: 15px;
        margin-right: 4px;
    }
}
